body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRAR5OOP18n9UimFHhtgx92RdxZ06Dzfh7iObARrm9oksOyE2rm&usqp=CAU);
    text-align: center;
}
h1{
    color: limegreen;
}
div{
    text-align: center;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: yellow;
    padding: 50px;
    border: 1px solid  red;
    margin: auto;
}
img{
    width: 400px;
    
}
.spanId{
    font-size: 18px;
    margin: 50px;

}